.header-content{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/banner.jpg');
    background-size: cover;
    position: relative;
    min-height: 45em;
}

.card:hover{
    
    border-left: 2px solid rgb(151, 149, 149);
    border-bottom: 2px solid rgb(27, 27, 27);
    box-shadow: 0px 1px  rgb(151, 149, 149);
    
}



.banner-info {
    padding: 4rem 0 5rem 34rem;
}
.banner-info h1{
    font-size: 3rem;
}
.banner-info span {
    font-family: 'Dancing Script', cursive;
}

.button-pakages button:hover {
    background-color: red;;
}



.north-indian{
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 6%;
    text-align: center;
    background-color: #024e4f;
   height: 200px;
   width: 200px;
   border-radius: 10%;
    opacity: 0.8;
    padding: 50px 10px;
}

.card-div{
    position: relative;
}
.card-div:hover .north-indian{
    visibility: visible;
}
.north-indian span {
    color: blue;
}

/* Premium Features */
.feature-para{
    font-family: 'Dancing Script', cursive;

 }  
 .link-btn{
    text-decoration: none;
 }


 .rate{
    width:380px;
    border:none;
  
}

.ratings{
    margin-right:10px;
}

.ratings i{
    
    color:#cecece;
    font-size:20px;
}

.rating-color{
    color:green !important;
}

/* Footer */
.footer{
    background-color: #0f254e;
}
.footer-item ul{
    padding-left: 0;
}
.link{
    list-style-type: none;
}
.link-a{
    text-decoration: none;
    padding-left: 0;
    color: #ffffff;
    line-height: 2rem;
}


@media (max-width:678px){
    .banner-info {
        padding: 4rem 0 5rem 0rem;
    }
}

@media (max-width:800px){
    .banner-info {
        padding: 4rem 0 5rem 15rem;
    }
}

@media (max-width:441px){
    .banner-info {
        padding: 4rem 0 10rem 0rem;
    }
}